<%- include('../layout/head.ejs') %>

  <body>
    <%- include('../layout/header.ejs') %>
      <main>
        <%- include('../layout/search.ejs') %>
          <table>
            <thead>
              <tr>
                <th>Results</th>
                <th>Frequency</th>
                <th>Region</th>
                <th>Competition</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% novusIdeam.forEach(novusIdeam=> {%>
                <tr>
                  <td>
                    <%= novusIdeam.keyword %>
                  </td>
                  <td>
                    <%= novusIdeam.googleTrendQuery %>
                  </td>
                  <td>
                    <%= novusIdeam.scraperNum %>
                  </td>
                  <td>
                    <%= novusIdeam.nicheScore %>
                  </td>
                  <td>
                    <button type="button" name="save">Save</button>
                  </td>
                </tr>
                <% });%>
            </tbody>
          </table>
      </main>
  </body>
  <%- include('../layout/footer.ejs') %>

    </html>