<%- include('../layout/head.ejs') %>

  <body>
    <%- include('../layout/header.ejs') %>
      <main>
        <%- include('../layout/search.ejs') %>
          <table>
            <thead>
              <tr>
                <th>Seed Keyword</th>
                <th>Trending Keyword</th>
                <th>Google results</th>
                <th>Competition</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% novusIdeam.forEach(novusIdeam=> {%>
                <tr>
                  <td>
                    <%= novusIdeam.keyword %>
                  </td>
                  <td>
                    <%= novusIdeam.googleTrendQuery %>
                  </td>
                  <td>
                    <%= novusIdeam.scraperNum %>
                  </td>
                  <td>
                    <%= novusIdeam.nicheScore %>
                  </td>
                  <td>
                    <form action="/save" method="POST">
                      <input type="hidden" name="keyword" value="<%= novusIdeam.keyword%>">
                      <input type="hidden" name="googleTrendQuery" value="<%= novusIdeam.googleTrendQuery%>">
                      <input type="hidden" name="scraperNum" value="<%= novusIdeam.scraperNum%>">
                      <input type="hidden" name="nicheScore" value="<%= novusIdeam.nicheScore%>">
                      <input type="submit" value="Save">
                    </form>
                  </td>
                </tr>
                <% });%>
            </tbody>
          </table>
      </main>
  </body>
  <%- include('../layout/footer.ejs') %>

    </html>